/*container general*/
.principal{
	font-family: 'Rubik', serif;
	margin: 0px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
/*header*/
header{
	background-color: #DAF7A6;
	position:fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;

}
.logo{
	width: 200px;
	padding-left: 30px;
	margin: 10px;
}
main{
	flex: 1;
}
ul {
	text-transform: uppercase;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
li{
	padding: 10px;
}
.menu{

	list-style: none;
}
a{
	color: black;
	text-decoration: none;
}
.imagen{
	background: url('../images/imgprincipal.jpeg');
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;

}
.texto{
	padding-top: 300px;
	width: 50px;
	height: 100px;
	padding-left: 30px;
	text-transform: capitalize;
	font-size: 30px;
	color: #555555

}
/*footer*/
.footer{
	background-color: black;
	height: 100px;
	display: flex;
}
span{
	color: white;

}
.copy{
}
.politica{
}
/*responsive*/
@media all and(max width: 500px;){
	.ul{flex-direction: column;

	}
}
